<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutright)="voteUp(true)" (throwoutleft)="voteUp(false)" id="card-stack">
    <div #mycards1 swing-card *ngFor="let post of posts">
      <!--<img *ngIf="post" [src]="post.picURL">-->
      <img (click)="blur($event)" *ngIf="post" src="https://s3.amazonaws.com/fashionpoimagebucket/{{ post.picURL }}">
      <p id="post-name">{{post.userName}}</p>
    </div>
  </div>
  <!--<p style="text-align: center; width: 100%;">{{ recentCard }}</p>-->
</ion-content>