page-register {
  h2{
    margin-bottom: 0px;
  }
  h4{
    margin-top:0px;
  }
  .toolbar-background {
    background-color: #fff2f1;

  }
  .toolbar-title-ios {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff5733;
    pointer-events: auto;
  }
  .container{
    background-color: #fff2f1;
  }

  .image{
    margin-top: 3%;
    width:30%;
    height:30%;

    border-radius: 50%;
  }
  .imageArea{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .userName{
    margin-top: 3%;
    margin-bottom: 5%;

    font-weight: 300;
    font-size: 21px;
    color: black;
  }
  .information{
    display: flex;
    flex-direction: row;
  }
  .today{
    flex:1;



  }

  .todayCount{
    font-weight: 400;
    margin-bottom: 0px;
    color:#ff5733;
    font-size:20px;
  }
  .todayText{
    font-size:15px;
    font-weight: 400;
    color: #7a7a7a;

  }
  .rankCount{
    font-weight: 300;
  }
  .my-rank{
    flex:1;



  }

}
