page-favorite-user-post {
  h2{
    margin-bottom: 0px;
  }
  h4{
    margin-top:0px;
    margin-bottom: 0px;
  }
  h5{
    margin-top:0px;
    margin-bottom: 0px;
  }
  p{
    margin-top:0px;
    margin-bottom: 0px;
  }
  .toolbar-background {
    background-color: #ffffff;

  }
  .toolbar-title-ios {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff5733;
    pointer-events: auto;
  }
  .tag{
    color: #7094b0;
  }
  .card-content-ios {
    padding: 1px 16px 12px;
    font-size: 1.4rem;
    line-height: 1.4;
  }

}
