<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="dismiss()" ion-button icon-only color="primary">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{favUser.wardrobeName}}
    </ion-title>
    <ion-buttons end>


    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center>

      <ion-col col-5 text-center>
        <img class="image" src="{{favUser.profile_img}}" imageViewer>
      </ion-col>
      <ion-col col-7>
        <div class="padding">
          <!--<h5 class="userName">{{user.username}}</h5>-->
          <h5 class="userName">{{favUser.username}}</h5>

          <p class="profileText">{{favUser.introduce}}</p>

          <button class="add" ion-button small color="primary">Today {{favUser.viewCnt}}</button>
          <button *ngIf="!button" (click)="addFavorite()" class="add" [disabled]="try" ion-button small
                  outline color="sub">add
          </button>
          <button *ngIf="button" (click)="removeFavorite()" class="add" [disabled]="try" ion-button small
                  color="sub">added
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <p class="infoText">Outfits of the week</p>
  <ion-grid *ngIf="weekCheck">
    <ion-row>
      <ion-col text-center>
        <h4 class="no">There are no fits</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides *ngIf="!weekCheck" class="image-slider" slidesPerView="3">
    <ion-slide *ngFor="let tWeek of thisWeekPost.slice().reverse(); let i = index">
      <img class="horiPic" (tap)="presentThisWeekModal(i)" src="{{tWeek.picURL}}" >
    </ion-slide>
  </ion-slides>


  <p class="infoText">{{favUser.username}}'s Fits</p>
  <ion-grid no-padding>
    <ion-row wrap no-padding>
      <ion-col col-4 *ngFor="let post of posts.slice().reverse(); let i = index">
        <img tappable (click)="presentFavModal(i)" class="myFitImage" src={{post.picURL}}>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

