<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar>
    <ion-buttons start>
      <button (click)="dismiss()" ion-button icon-only color="primary">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      HanyangWardrobe
    </ion-title>
    <ion-buttons end>


    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center>

      <ion-col col-5 text-center>
        <img class="image" src="{{favUser.profile_img}}">
      </ion-col>
      <ion-col col-6>
        <div class="padding">
          <!--<h5 class="userName">{{user.username}}</h5>-->
          <h5 class="userName">{{favUser.username}}</h5>

          <p class="profileText">Student</p>
          <p class="profileText">He determined to drop his litigation with the monastry, and relinguish.</p>
          <button class="add" ion-button small color="primary">Today {{favUser.viewCnt}}</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <p class="infoText">This Week's Fits</p>
  <ion-scroll scrollX="true" class="twPic">


        <img (click)="presentThisWeekModal(i)" *ngFor="let tWeek of thisWeekPost; let i = index" class="horiPic" src="{{tWeek.picURL}}">




  </ion-scroll>

  <hr>
  <p class="infoText">Fits</p>
  <ion-grid no-padding>
    <ion-row wrap no-padding>
      <ion-col col-4 *ngFor="let post of posts; let i = index">
        <img (click)="presentFavModal(i)" class="myFitImage" src={{post.picURL}}>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

