<!--
  Generated template for the RankWardrobePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar>
    <ion-buttons start>
      <button (click)="dismiss()"  ion-button icon-only color="primary">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{user.wardrobeName}}
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <!--<ion-col col-2 text-center>-->
      <!--<p class="infoText">Today</p>-->
      <!--<h5 class="todayCount">98</h5>-->
      <!--<br>-->
      <!--<p *ngIf="toggled" class="infoText">Rank</p>-->
      <!--<h5 *ngIf="toggled"  class="rankCount">4</h5>-->
      <!--</ion-col>-->
      <ion-col col-5 text-center>
        <img tappable class="image" src="{{user.profile_img}}" imageViewer>
      </ion-col>
      <ion-col col-7>
        <div class="padding">
          <!--<h5 class="userName">{{user.username}}</h5>-->
          <h5 class="userName">{{user.username}}</h5>

          <p class="profileText">{{user.introduce}}</p>

          <button class="add" ion-button small color="primary">Today {{user.viewCnt}}</button>
          <button class="add" ion-button small color="sub">Rank {{rankNumber}}</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <p class="infoText">This Week's Fits</p>

  <ion-grid *ngIf="weekCheck">
    <ion-row>
      <ion-col text-center>
        <h4 class="no">There are no fits</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides *ngIf="!weekCheck" class="image-slider" slidesPerView="3">
    <ion-slide *ngFor="let tWeek of thisWeekPost.slice().reverse(); let i = index">
      <img class="horiPic" (tap)="presentThisWeekModal(i)" src="{{tWeek.picURL}}" >
    </ion-slide>
  </ion-slides>


  <p class="infoText">Fits</p>
  <ion-grid no-padding>
    <ion-row wrap no-padding>
      <ion-col col-4 *ngFor="let post of posts.slice().reverse(); let i = index">
        <img tappable (click)="presentFavModal(i)" class="myFitImage" src={{post.picURL}}>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>


