<!--
  Generated template for the RankWardrobePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="dismiss()"  ion-button icon-only color="primary">
	      <div class="padding-right" tappable>
		      <ion-icon name="ios-arrow-back"></ion-icon>
	      </div>
      </button>
    </ion-buttons>
    <ion-title>
      {{user.wardrobeName}}
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <!--<ion-col col-2 text-center>-->
      <!--<p class="infoText">Today</p>-->
      <!--<h5 class="todayCount">98</h5>-->
      <!--<br>-->
      <!--<p *ngIf="toggled" class="infoText">Rank</p>-->
      <!--<h5 *ngIf="toggled"  class="rankCount">4</h5>-->
      <!--</ion-col>-->
      <ion-col col-5 text-center>
        <img tappable class="image" src="{{user.profile_img}}" imageViewer>
      </ion-col>
      <ion-col col-7>
        <div class="padding">
          <!--<h5 class="userName">{{user.username}}</h5>-->
          <h5 class="userName">{{user.username}}</h5>

          <p class="profileText">{{user.introduce}}</p>

          <button class="add" ion-button small color="primary">Today {{user.viewCnt}}</button>
          <button class="add" ion-button small outline color="sub">Add</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr *ngIf="!weekCheck">
  <p *ngIf="!weekCheck" class="infoText">Outfits of the week</p>



  <ion-slides *ngIf="!weekCheck" class="image-slider" slidesPerView="3">
    <ion-slide *ngFor="let tWeek of thisWeekPost.slice().reverse(); let i = index">
      <img class="horiPic" (tap)="presentThisWeekModal(i)" src="{{tWeek.picURL}}" >
    </ion-slide>
  </ion-slides>

  <ion-segment [(ngModel)]="newTab" color="primary" no-padding>
    <ion-segment-button value="fit">
      <ion-icon name="md-apps"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="favorites">
      <ion-icon name="md-star"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="newTab">
    <div *ngSwitchCase="'fit'">
      <ion-grid *ngIf="loaded">
        <br><br>
        <ion-row>
          <ion-col text-center>
            <p>There are no past outfits.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid no-padding>
        <ion-row wrap no-padding>
          <ion-col col-4 align-self-center *ngFor="let post of posts.slice().reverse(); let i = index">
            <button class="btn" (click)="presentFavModal(i)"><img class="myFitImage" src={{post.picURL}}></button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'favorites'">
      <ion-grid *ngIf="loadedd">
        <br><br>
        <ion-row>
          <ion-col text-center>
            <p>There are no favorite users.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="showFavorite">
        <br><br>
        <ion-row>
          <ion-col text-center>
            <p>Not opened</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list *ngIf="!showFavorite" inset>
        <button (click)="presentUserModal(i)" *ngFor="let favorite of favorites; let i = index;" ion-item>
          <ion-avatar item-start>
            <img src="{{favorite.profile_img}}">
          </ion-avatar>
          <h5>{{favorite.wardrobeName}}</h5>
          <p>{{favorite.username}}</p>
        </button>
      </ion-list>
    </div>
  </div>







</ion-content>


