page-log {
  .toolbar-background {
    background-color: #ffffff;

  }
  .highlight{
    color:black;
    font-weight: 900;
  }
  .log{
    font-size: 14px;
  }
  .toolbar-title-ios {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: #ff5733;
    pointer-events: auto;
  }

}
