<ion-header no-border>
  <ion-navbar>
    <ion-buttons *ngIf="backButton" start>

      <button (click)="dismiss()" ion-button icon-only color="primary">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>

    </ion-buttons>
    <ion-title>
      Upload
    </ion-title>
    <ion-buttons end>

      <button (click)="post()" ion-button icon-end small color="primary">
        Post
      </button>

    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item text-center>
      <button ion-button icon-start clear small outline (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>
        Select Image
      </button>
    </ion-item>
    <div *ngIf="!pictureTaken" style="display: none">


      <img *ngIf="!uploadCheck" src="{{placeholderImage}}"/>
      <!--<img src="../../../assets/images/post4.png">-->
    </div>
    <img id="camera-image"/>
    <ion-card-content>
      <ion-textarea  class="comment" type="text" [(ngModel)]="comment" placeholder="Share your caption"></ion-textarea>
      <hr>
      <ion-textarea class="tag" type="text" [(ngModel)]="tagsInput" placeholder="Share your tags"></ion-textarea>
	    <ion-list>
		    <ion-item *ngFor="let item of allTags">
			    <h4>{{item.tagName}}</h4>
		    </ion-item>
	    </ion-list>
    </ion-card-content>
  </ion-card>
  <!--<ion-item *ngIf="!pictureTaken" style="display: none;">-->
  <!--</ion-item>-->
</ion-content>
