page-camera {
	.comment {
		max-width: 100%;
		width: 100%;
	}
	.padding {
		padding-left: 5%;
		padding-right: 5%;
	}
	.searchbar-ios.searchbar-left-aligned .searchbar-search-icon {
		margin-left: 0;
		display: none;
	}
	.searchbar-ios.searchbar-left-aligned .searchbar-input {
		padding-left: 0;
	}
	.color{
		color: #70A3D6;
	}
	.searchbar-ios {
		padding: 0 0px;
		min-height: 44px;
		color: #70A3D6;
		border-top: 0.55px solid transparent;
		border-bottom: 0.55px solid rgba(0, 0, 0, 0.1);
		background-color: white;

	}
	.searchbar-ios .searchbar-input {

		color: #70A3D6;

	}


	.toolbar-background {
		background-color: #ffffff;

	}
	.tag::-moz-placeholder {
		color: #70A3D6;
	}

	.tag:-ms-input-placeholder {
		color: #70A3D6;
	}

	.tag::-webkit-input-placeholder {
		color: #70A3D6;
	}

	.toolbar-title-ios {
		text-align: center;
		font-size: 1.4rem;
		font-weight: 900;
		color: #ff5733;
		pointer-events: auto;
	}

	#post-name {
		text-align: center;
	}
}
