page-myrank {
  .card



  .box{



    display: flex;
  },
  .numbering {
    display: flex;
    flex:0.5;


    //margin-top: 20px;
    //margin-bottom: 20px;
  }
  .numberingArea{
    background-color: #ff5733;
    display:flex;
    flex:1;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50%;
    margin-bottom: 50%;
  }
  .rankNumber{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex:1;
    padding-right: 8%;
    font-size: 22px;
    font-weight: 600;
    color: #ffc305;
  }
  .image {

    flex: 1;
    background-color: blue;
  }
  .name {
    display:flex;
    flex: 2;
    justify-content: space-between;
    align-items: center;


  }
  .nameArea{
    display: flex;
    justify-content: flex-start;
    flex:1;
    padding-left: 5%;


  }
  .buttonArea{
    display: flex;
    flex:1;
    justify-content: flex-end;
    padding-right: 5%;

  }
  .myname{
    color: #ff5733;
    font-weight: 600
  }
  .card-ios {

    margin:5px;
    border-radius: 5px;
    width: calc(100% - 11px);
    font-size: 1.4rem;
    background-color: #ffc305;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

}
