page-home {


  .toolbar-background {
    background-color: #ffffff;

  }
  .toolbar-title-ios {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff5733;
    pointer-events: auto;
  }
  .toolbar{
    box-shadow: 0px 0.05rem 0px #ff9100! important;
  }
  .firstPlace{
    font-size: 18px;
    color: #6a6a6a;
  }
  .firstPlaceIcon{
    font-size: 25px;
    color: #ff5733;
  }
  .card-header-ios {
    padding: 5px;
  }
  .card-content-ios {
    padding: 10px 10px 20px;

  }
  .box{
    display: -webkit-flex;
    display: flex;
  },
  .numbering {
    -webkit-flex: initial;
    flex: initial;
    width: 50px;
    min-width: 40px;
    margin-top: 10px;
    margin-bottom:10px;
    background-color: red;
  }
  .image {
    -webkit-flex: none;
    flex: none;
    width: 80px;
    background-color: blue;
  }
  .name {
    -webkit-flex: 1;
    flex: 1;
    background-color: yellow;
  }








}


