<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button (click)="Vote()" *ngIf="!toggled" ion-button icon-only color="primary">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title  *ngIf="!toggled">FaPo</ion-title>
    <ion-searchbar *ngIf="toggled" animated="true"></ion-searchbar>
    <ion-buttons end>
      <button *ngIf="!toggled" (click)="toggleSearch()" ion-button icon-only color="primary">
        <ion-icon name="ios-search"></ion-icon>
      </button>
      <button *ngIf="toggled" (click)="toggleSearch2()" ion-button icon-only color="primary">
        <ion-icon name="ios-close-circle-outline"></ion-icon>
      </button>
      <!--<button (click)="presentCustomModal()" ion-button icon-only color="primary">-->
        <!--<ion-icon name="md-list"></ion-icon>-->
      <!--</button>-->
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content>
  <ion-tabs *ngIf="searchToggled" tabsPlacement="top"  primary>
    <ion-tab tabTitle="Users" [root]="tab1" (click)="abc()"></ion-tab>
    <ion-tab tabTitle="Tags" [root]="tab2"></ion-tab>
  </ion-tabs>
  <div *ngIf="!searchToggled">
  <ion-card>
    <ion-card-header>
      <img src="https://s3.amazonaws.com/fashionpoimagebucket/{{ picURL }}">
    </ion-card-header>
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-sm-12>
            <h2 class="text-center firstPlaceIcon"><ion-icon name="trophy"></ion-icon></h2>
            <h3 class="text-center firstPlace">Kendal Jenner</h3>
            <div class="text-center">
              <button ion-button outline small color="sub">Add</button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let rank of ranks; let i = index">
      <div class="box">
        <div class="numbering">
          <div class="numberingArea">
            <p class="rankNumber">{{i+2}}</p>
          </div>
        </div>
        <div class="image"><img src="https://s3.amazonaws.com/fashionpoimagebucket/{{ rank.picURL }}"></div>
        <div class="name">
          <div class="nameArea">
            <p>{{rank.userName}}</p>
          </div>
          <div class="buttonArea">
            <button ion-button outline small color="sub" (dblclick)="test()" (click)='addFavorite(rank.writtenBy,rank);'>Add</button>
          </div>
        </div>
      </div>
  </ion-card>
  </div>
</ion-content>
