<!--
  Generated template for the FavoriteUserPostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-buttons start>
      <button (click)="dismiss()" ion-button icon-only color="primary">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Past Fits</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor=" let post of postList; let i =index" [id]="'fit'+i">

    <img src="{{post.picURL}}">

    <button ion-button icon-left clear small>
      <ion-icon name="heart"></ion-icon>
      <div>{{post.likeCnt}} Likes</div>
    </button>

    <ion-card-content>
      <span tappable class="tag" *ngFor="let tag of post.tags" (click)="goToTag(tag.tag,i)"> {{tag.tag}}</span>
    </ion-card-content>

    <ion-item>
      <ion-note><p>{{parsingDate(post.writtenAt)}}</p></ion-note>


    </ion-item>
  </ion-card>

</ion-content>

