<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header no-border>
	<ion-toolbar>
		<ion-buttons start>
			<button (click)="dismiss()" ion-button icon-only color="primary">
				<div class="padding-right">
					<ion-icon name="ios-arrow-back"></ion-icon>
				</div>
			</button>
		</ion-buttons>
		<ion-title *ngIf="User">
			{{User.wardrobeName}}
		</ion-title>
		<ion-buttons end *ngIf="!showAdd">
			<button (click)="presentActionSheet()" ion-button icon-only color="primary">
				<ion-icon name="ios-more"></ion-icon>
			</button>
		</ion-buttons>

	</ion-toolbar>

</ion-header>

<ion-content>

	<ion-grid>
		<ion-row justify-content-center>

			<ion-col col-5 text-center>
				<div class="profileImage">
					<img-loader tappable *ngIf="User" class="image" src="{{User.profile_img}}" useImg></img-loader>
				</div>
			</ion-col>
			<ion-col col-7>
				<div class="padding">
					<!--<h5 class="userName">{{user.username}}</h5>-->


					<button *ngIf="!button_loaded&&today_disable" [disabled]="true" class="add" ion-button outline small
					        color="primary"
					        (click)="refreshViewCnt()">
						<ion-spinner color="primary" name="circles"></ion-spinner>
					</button>

					<button *ngIf="!button_loaded&&!today_disable" class="add" ion-button outline small color="primary"
					        (click)="refreshViewCnt()">
						<ion-spinner name="circles"></ion-spinner>
					</button>
					<button *ngIf="button_loaded&&!view_cnt&&User&&today_disable" [disabled]="true" class="add"
					        ion-button small outline
					        color="primary"
					        (click)="refreshViewCnt()"><span class="highlight">Visits {{User.viewCnt}}</span>
					</button>
					<button *ngIf="button_loaded&&view_cnt&&today_disable" [disabled]="true" class="add" ion-button
					        outline small
					        color="primary"
					        (click)="refreshViewCnt()"><span class="highlight">Visits {{view_cnt}}</span>
					</button>
					<button *ngIf="button_loaded&&!view_cnt&&User&&!today_disable" class="add" ion-button small outline
					        color="primary"
					        (click)="refreshViewCnt()"><span class="highlight">Visits {{User.viewCnt}}</span>
					</button>
					<button *ngIf="button_loaded&&view_cnt&&!today_disable" class="add" ion-button small outline
					        color="primary"
					        (click)="refreshViewCnt()"><span class="highlight">Visits {{view_cnt}}</span>
					</button>
					<button *ngIf="!button && !showAdd" (click)="addFavorite()" class="add" [disabled]="try" ion-button
					        small
					        outline color="sub">add
					</button>
					<button *ngIf="button && !showAdd" (click)="removeFavorite()" class="add" [disabled]="try"
					        ion-button small
					        color="sub">added
					</button>
					<h5 *ngIf="User" class="userName">{{User.username}}</h5>

					<p *ngIf="User" class="profileText">{{User.introduce}}</p>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	<hr *ngIf="!weekCheck">


	<p *ngIf="!weekCheck" class="infoText">Outfits of the week</p>
	<div *ngIf="!weekCheck">
		<ion-slides class="image-slider" slidesPerView="3">
			<ion-slide *ngFor="let tWeek of thisWeekPost.slice().reverse(); let i = index">
				<img-loader (tap)="presentThisWeekModal(i)" src="{{tWeek.picURL}}" useImg></img-loader>
			</ion-slide>
		</ion-slides>
	</div>

	<ion-segment [(ngModel)]="newTab" color="primary" no-padding>
		<ion-segment-button value="fit">
			<ion-icon name="md-apps"></ion-icon>
		</ion-segment-button>
		<ion-segment-button value="favorites">
			<ion-icon name="md-star"></ion-icon>
		</ion-segment-button>
	</ion-segment>

	<div [ngSwitch]="newTab">
		<div *ngSwitchCase="'fit'">
			<ion-grid *ngIf="loaded">
				<br><br>
				<ion-row>
					<ion-col text-center>
						<p>There are no outfits.</p>
					</ion-col>
				</ion-row>
			</ion-grid>
			<ion-grid no-padding>
				<ion-row wrap no-padding>
					<ion-col col-4 align-self-center *ngFor="let post of posts.slice().reverse(); let i = index">
						<button class="btn" (click)="presentFavModal(i)">
							<div class="pastFits">
								<img-loader class="myFitImage" src={{post.picURL}} useImg></img-loader>
							</div>
						</button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>

		<div *ngSwitchCase="'favorites'">
			<ion-grid *ngIf="loadedd">
				<br><br>
				<ion-row>
					<ion-col text-center>
						<p>There are no favorite users.</p>
					</ion-col>
				</ion-row>
			</ion-grid>
			<ion-grid *ngIf="showFavorite">
				<br><br>
				<ion-row>
					<ion-col text-center>
						<p>Not opened</p>
					</ion-col>
				</ion-row>
			</ion-grid>

			<ion-list *ngIf="!showFavorite" inset>
				<button (click)="presentUserModal(i)" *ngFor="let favorite of favorites; let i = index;" ion-item>
					<ion-avatar item-start>
						<img-loader src="{{favorite.profile_img}}" useImg></img-loader>
					</ion-avatar>
					<h5>{{favorite.wardrobeName}}</h5>
					<p>{{favorite.username}}</p>
				</button>
			</ion-list>
		</div>
	</div>

</ion-content>

