page-vote {

  //div.fixed-content {
  //  margin-top: 64px !important;
  //  margin-bottom: 0px !important;
  //}
  //div.scroll-content {
  //  margin-top: 64px !important;
  //  margin-bottom: 0px !important;
  //}

  .toolbar-background {
    background-color: #ffffff;
  }
  .toolbar-title-ios {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff5733;
    pointer-events: auto;
  }
  .container{
    display: flex;

  }
  .skipArea{
    flex:1;
    display:flex;
    justify-content: center;
    border-right: 0.55px solid rgba(0,0,0,0.1);

  }
  .closetArea{
    flex:1;
    display:flex;
    justify-content: center;
    border-right: 0.55px solid rgba(0,0,0,0.1);

  }
  .likeArea{
    flex:1;
    display:flex;
    justify-content: center;
  }

  .tag{
    font-size: 1.3rem;
    color:#70A3D6;
  }
  .space{
    margin-top: 5%;
  }
  .card-ios {
    padding-bottom: 50%;
    margin: 0px;
    border-radius: 2px;
    width: calc(100% - 0px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  }
  .scroll-content {
    overflow: hidden;
  }




}







