<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button  (click)="Vote()"  *ngIf="!toggled" ion-button icon-only color="primay">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title  *ngIf="!searchToggled" (click)="scrollToTop()">Flex<br><span class="history" (click)="presentHistoryModal()">Aug 1 ~ Aug 7,2017</span></ion-title>


    <ion-searchbar *ngIf="searchToggled" animated="true"  value="abgasdfasd" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-buttons end>
      <button *ngIf="!searchToggled" (click)="toggleSearch()" ion-button icon-only color="primary">
        <ion-icon name="ios-search"></ion-icon>
      </button>

      <button *ngIf="searchToggled" (click)="toggleSearch2()" ion-button icon-only color="primary">
        <ion-icon name="ios-close-circle-outline"></ion-icon>
      </button>
      <!--<button (click)="presentCustomModal()" ion-button icon-only color="primary">-->
        <!--<ion-icon name="md-list"></ion-icon>-->
      <!--</button>-->
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar *ngIf="searchToggled">
    <ion-segment [(ngModel)]="search" color="primary">
      <ion-segment-button value="user" >
        Users
      </ion-segment-button>
      <ion-segment-button value="tag">
        Tags
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher *ngIf="!searchToggled" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content *ngIf="!searchToggled"
      pullingIcon="arrow-dropdown"
      pullingText=""
      refreshingSpinner="circles"
      refreshingText="">

    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!searchToggled">
    <ion-card>
      <ion-card-header>
        <img *ngIf="firstPost" src={{firstPost.picURL}}>
      </ion-card-header>
      <ion-card-content>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-sm-12>
              <h2 class="text-center firstPlaceIcon"><ion-icon name="trophy"></ion-icon></h2>
              <h3 class="text-center firstPlace" *ngIf="firstUser">{{firstUser.username}}</h3>
              <div class="text-center">
                <button ion-button outline small color="sub">Add</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let rank of ranks; let i = index">
      <div class="box">
        <div class="numbering">
          <div class="numberingArea">
            <p class="rankNumber">{{i+2}}</p>
          </div>
        </div>
        <div class="image"><img src={{ranks[i].picURL}}></div>
        <div class="name">
          <div class="nameArea" *ngIf="users[i]">
            <p (click)="presentWardrobeModal(i)" *ngIf="!nameCheck[i]">{{users[i].username}}</p>
            <p *ngIf="nameCheck[i]">{{users[i].username}}</p>
          </div>
          <div class="buttonArea">
            <!--<button *ngIf="user&&user._id!==ranks[i].writtenBy&&user.favorites.indexOf(ranks[i].writtenBy)===-1" ion-button outline small color="sub" (click)='addFavorite(rank);'>Add</button>-->
            <!--<button *ngIf="user&&user._id!==ranks[i].writtenBy&&user.favorites.indexOf(ranks[i].writtenBy)!==-1" ion-button small color="sub" (click)='removeFavorite(rank);'>Add</button>-->
            <button *ngIf="user&&user._id!==ranks[i].writtenBy&&!buttons[i]" [disabled]="try" ion-button outline small color="sub" (click)='addFavorite(rank);'>Add</button>
            <button *ngIf="user&&user._id!==ranks[i].writtenBy&&buttons[i]" [disabled]="try" ion-button small color="sub" (click)='removeFavorite(rank);'>Added</button>
          </div>
        </div>
      </div>
    </ion-card>
  </div>
  <div  *ngIf="searchToggled" [ngSwitch]="search">
    <ion-list *ngSwitchCase="'user'">
      <ion-item *ngFor="let item of allUsers">
        {{ item.username }}
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'tag'">
      <ion-item>
        <ion-thumbnail item-left>
          <img src="img/women-image1.png">
        </ion-thumbnail>
        <h2>woadsf</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="img/women-image1.png">
        </ion-thumbnail>
        <h2>asdffdg</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="/img/women-image1.png">
        </ion-thumbnail>
        <h2>qwerv</h2>
      </ion-item>
    </ion-list>
  </div>


</ion-content>
