<!--
  Generated template for the RankNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

	<ion-toolbar>
		<ion-buttons start>
			<button (click)="dismiss()" ion-button icon-only color="primary">
				<div class="padding-right" tappable>
					<ion-icon name="ios-arrow-back"></ion-icon>
				</div>
			</button>
		</ion-buttons>
		<ion-title>{{parsingDate3(startDate)}} ~ {{parsingDate2(endDate)}}</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
	<ion-card [id]="firstPost.picURL">
		<img-loader src="{{firstPost.picURL}}" fallback="images/none.png" [fallbackAsPlaceholder]="true" useImg imageViewer></img-loader>
		<button ion-button icon-left clear small>
			<ion-icon name="heart"></ion-icon>
			<div>{{firstPost.likeCnt}} Likes</div>
		</button>

		<ion-card-content>
			<h2 color="dark" tappable (click)="presentFirstWardrobe(firstPost.picURL)">{{firstUser.wardrobeName}}</h2>
			<p>{{firstPost.comment}}</p>



			<span tappable class="tag" *ngFor="let tag of firstPost.tags"
			      (click)="goToTag(tag.tag,firstPost.picURL)"> {{tag.tag}}</span>
		</ion-card-content>

		<ion-item>
			<ion-note><p>{{parsingDate(firstPost.writtenAt)}}</p></ion-note>
		</ion-item>
	</ion-card>

	<ion-card *ngFor=" let post of rank; let i =index">
		<div [id]="post.picURL">
			<img-loader src="{{post.picURL}}" fallback="" [fallbackAsPlaceholder]="true" useImg></img-loader>
			<button ion-button icon-left clear small>
				<ion-icon name="heart"></ion-icon>
				<div>{{post.likeCnt}} Likes</div>
			</button>

			<ion-card-content>
				<h2 color="dark" tappable (click)="presentWardrobe(i,post.picURL)">{{user[i].wardrobeName}}</h2>
				<p>{{post.comment}}</p>

				<span tappable class="tag" *ngFor="let tag of post.tags"
				      (click)="goToTag(tag.tag,post.picURL)"> {{tag.tag}}</span>
			</ion-card-content>

			<ion-item>
				<ion-note><p>{{parsingDate(post.writtenAt)}}</p></ion-note>
			</ion-item>
		</div>

	</ion-card>
</ion-content>
