page-tag {
  .toolbar-background {
    background-color: #ffffff;

  }
  .toolbar-title-ios {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff5733;
    pointer-events: auto;
  }

  .myFitImage{

    width:100%;
    height:100%;
    padding-right: 3px;

  }

  .btn{
    background-color: transparent;
    padding: 0;
    margin:0;
  }
  .tag{
    color:#7094b0;
  }


}
