<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      {{user.wardrobeName}}
    </ion-title>
    <ion-buttons end>
      <button (click)="Settings()" ion-button icon-only color="primary">
        <ion-icon name="ios-settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col col-5 text-center>
        <img tappable class="image" src="{{user.profile_img}}" imageViewer>
      </ion-col>
      <ion-col col-7>
        <div class="padding">
          <!--<h5 class="userName">{{user.username}}</h5>-->
          <h5 (click)="presentThisWeekModal(1)" class="userName">{{user.username}}</h5>
          <p class="profileText">{{userIntro}}</p>
          <button *ngIf="!button_loaded&&today_disable" [disabled]="true" class="add" ion-button small color="primary"
                  (click)="refreshViewCnt()">
            <ion-spinner color="light" name="circles"></ion-spinner>
          </button>

          <button *ngIf="!button_loaded&&!today_disable" class="add" ion-button small color="primary"
                  (click)="refreshViewCnt()">
            <ion-spinner color="light" name="circles"></ion-spinner>
          </button>
          <button *ngIf="button_loaded&&user&&today_disable" [disabled]="true" class="add" ion-button small
                  color="primary"
                  (click)="refreshViewCnt()">Today {{user.viewCnt}}
          </button>

          <button *ngIf="button_loaded&&user&&!today_disable" class="add" ion-button small color="primary"
                  (click)="refreshViewCnt()">Today {{user.viewCnt}}
          </button>

          <button *ngIf="!checkRank" class="add" ion-button small color="sub">Rank {{min}}</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <hr>
  <p *ngIf="!thisWeekPostLength" class="infoText">Outfits of the week</p>
  <ion-grid *ngIf="noneCheck">
    <br>
    <ion-row>
      <ion-col text-center>
        <h5>Share your outfit of the day</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <p>Post your photos to be 1st!</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <br><br>
        <button (click)="test()" ion-button round outline large>
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="thisWeekPost">
    <ion-slides class="image-slider" slidesPerView="3">
      <ion-slide *ngFor="let tWeek of thisWeekPost.slice().reverse(); let i= index">
        <img class="horiPic" (tap)="presentThisWeekModal(i)" src="{{tWeek.picURL}}">
      </ion-slide>
    </ion-slides>
  </div>

  <ion-segment [(ngModel)]="newTab" color="primary" no-padding>
    <ion-segment-button value="fit">
      <ion-icon name="md-apps"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="favorites">
      <ion-icon name="md-star"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="newTab">
    <div *ngSwitchCase="'fit'">
      <ion-grid *ngIf="loaded">
        <br><br>
        <ion-row>
          <ion-col text-center>
            <p>There are no past outfits.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid no-padding>
        <ion-row wrap>
          <ion-col col-4 align-self-center *ngFor="let post of mypostlist.slice().reverse(); let i = index">
            <img tappable (click)="presentProfileModal()" class="myFitImage" src={{post.picURL}}>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'favorites'">
      <ion-grid *ngIf="loadedd">
        <br><br>
        <ion-row>
          <ion-col text-center>
            <p>There are no favorite users.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list inset>
        <button (click)="presentFavModal(i)" *ngFor="let favorite of favorites; let i = index;" ion-item>
          <ion-avatar item-start>
            <img src="{{favorite.profile_img}}">
          </ion-avatar>
          <h5>{{favorite.wardrobeName}}</h5>
          <p>{{favorite.username}}</p>
        </button>
      </ion-list>
    </div>

  </div>
  <!--<super-tabs *ngIf="loaded && loadedd" toolbarColor="primary" shortSwipeDuration="0">-->
  <!--<super-tab [root]="tab1" [rootParams]="{mypost:mypostlist, week:thisWeekPost}" icon="md-apps"></super-tab>-->
  <!--<super-tab [root]="tab2" [rootParams]="{favorite:favorites,id:passId}" icon="md-star"></super-tab>-->
  <!--</super-tabs>-->
</ion-content>

