page-vote {
  div {
    height: 96% !important;
  }
  img {
    height: 96% !important;
  }
  div.fixed-content {
    margin-bottom: 0px !important;
  }
  div.scroll-content {
    margin-bottom: 0px !important;
  }
  div#card-stack {
    height: 96% !important;
  }
  .toolbar-background {
    background-color: #ffffff;

  }
  .toolbar-title-ios {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff5733;
    pointer-events: auto;
  }
  .icon{
    font-size: 20px;
  }




}


