page-vote {

  div.fixed-content {
    margin-top: 64px !important;
    margin-bottom: 0px !important;
  }
  div.scroll-content {
    margin-top: 64px !important;
    margin-bottom: 0px !important;
  }
  .toolbar-background {
    background-color: #ffffff;
  }
  .toolbar-title-ios {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff5733;
    pointer-events: auto;
  }
  .fire-icon {
    font-size: 3.5em !important;
  }



}


