page-vote {


  .toolbar-background {
    background-color: #ffffff;

  }
  .toolbar-title-ios {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff5733;
    pointer-events: auto;
  }




}


