<!--
  Generated template for the CommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-toolbar>
    <ion-title *ngFor="let post of posts"><p id="post-name">{{post.userName}}<p></ion-title>
    <ion-buttons end>
      <button (click)="Rank()" ion-button icon-only color="primary">
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
  <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutright)="voteUp(true)" (throwoutleft)="voteUp(false)" id="card-stack">
    <div  #mycards1 swing-card *ngFor="let post of posts">
      <!--<img *ngIf="post" [src]="post.picURL">-->
      <img style="width:auto; height:500px" (click)="blur($event)" *ngIf="post" src="https://s3.amazonaws.com/fashionpoimagebucket/{{ post.picURL }}">

    </div>
  </div>
</ion-content>

